In [14]:
import os
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import seaborn as sns

dataPath = (os.getcwd().replace("\\", "/")) + "/자료/"
nonSharedDataPath = os.getcwd().replace("\\", "/") + "/../공유못함/"

# 자료부르기 예제
# df = pd.read_csv(dataPath + 'seoul_nav.csv', sep=',', encoding='utf8')
# df = pd.read_csv(nonSharedDataPath + '행정동별대중교통수단통합.csv', sep=',', encoding='euc-kr')

In [15]:
#이규민

In [16]:
pTDF = pd.read_csv(nonSharedDataPath + '행정동별대중교통수단통합.csv', sep=',', encoding='euc-kr')
mappingDF = pd.read_csv(dataPath + '법정코드매핑.csv', encoding='euc-kr')

In [17]:
mappingDF.info()
pTDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   1112 non-null   int64
 1   법정동명    1112 non-null   object
 2   폐지여부    1112 non-null   object
 3   법정동     1112 non-null   object
 4   법정구     1112 non-null   object
 5   법정구코드   1112 non-null   int64
dtypes: int64(2), object(4)
memory usage: 52.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29993501 entries, 0 to 29993500
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   기준_날짜      float64
 1   시작_행정동_ID  float64
 2   종료_행정동_ID  float64
 3   승객수        float64
dtypes: float64(4)
memory usage: 915.3 MB

In [18]:
c1 = (pTDF['기준_날짜'] == 0)
c2 = (pTDF['시작_행정동_ID'] == 0)
c3 = (pTDF['종료_행정동_ID'] == 0)
(c1 | c2 | c3).unique()
pTDF = pTDF[(c1 | c2 | c3) == False]

In [19]:
pTDF['시작_행정동_ID'] = pTDF['시작_행정동_ID'] * 1000
pTDF['종료_행정동_ID'] = pTDF['종료_행정동_ID'] * 1000
pTDF

               기준_날짜     시작_행정동_ID     종료_행정동_ID    승객수
0         20220101.0  1.112056e+09  2.305057e+09    6.0
1         20220101.0  1.113071e+09  1.113070e+09   46.0
2         20220101.0  1.102071e+09  1.125074e+09    8.0
3         20220101.0  1.105053e+09  1.110065e+09  149.0
4         20220101.0  1.104052e+09  1.102065e+09   43.0
...              ...           ...           ...    ...
29993496  20220430.0  3.102154e+09  1.104066e+09    8.0
29993497  20220430.0  1.112074e+09  1.115054e+09    1.0
29993498  20220430.0  2.308060e+09  1.123066e+09    3.0
29993499  20220430.0  1.123052e+09  1.123052e+09  966.0
29993500  20220430.0  1.120067e+09  1.114076e+09    5.0

[27560766 rows x 4 columns]

In [20]:
def addMappingColumn(x):
    for i in mappingDF.index:
        if(x == mappingDF.iloc[i, 0]):

SyntaxError: unexpected EOF while parsing (<ipython-input-20-fefe208ca598>, line 4)

In [ ]:
pTDF['시작_행정동'] = ""

In [ ]:
shGroup = pTDF.groupby(pTDF.columns[1:3].to_list()).agg('sum').sort_values('승객수', ascending=False)

In [ ]:
shGroup.index

In [ ]:
mappingDF['법정동코드'] = mappingDF['법정동코드'].astype('str')
mappingDF.info()

In [ ]:
c1 = []

for i in shGroup.index:
    startStr = ""
    endStr = ""
    for i0 in mappingDF.index:
        if i[0] == mappingDF.loc[i0, '법정동코드']:
            startStr = mappingDF.loc[i0, '법정동']
        if i[1] == mappingDF.loc[i0, '법정동코드']:
            endStr = mappingDF.loc[i0, '법정동']
    c1.append(startStr + ' - ' + endStr)

shGroup['시작행정동 - 종료행정동'] = c1
shGroup

In [ ]:
for i0 in mappingDF.index:
    if shGroup.index[0][0] == mappingDF.loc[i0, '법정동코드']:
        print(1)

In [ ]:
plt.rc('font', family='Malgun Gothic', size = 18)
plt.rcParams['figure.figsize'] = (20, 10)
plt.rcParams['lines.linewidth'] = 2

shGroup.plot(xticks=[i for i in range(30)])
plt.xticks(rotation=270)
plt.xlabel('시작행정동 - 종료행정동')

In [ ]:
carMovingDF = pd.read_csv(dataPath + '행정동추가.csv', sep=',', encoding='euc-kr')
carMovingDF

In [ ]:
carMovingSumDF = pd.read_csv(dataPath + '통행합계.csv', sep=',', encoding='euc-kr')
carMovingSumDF

In [ ]:
carMovingSumDF['법정동코드'] = ""
carMovingSumDF['법정동'] = ""
carMovingSumDF['법정구'] = ""
carMovingSumDF['법정구코드'] = ""

In [ ]:
for i0 in carMovingSumDF.index:
    for i1 in carMovingDF.index: 
        if carMovingSumDF.loc[i0, '지점명'] == carMovingDF.loc[i1, '지점명칭']:
            carMovingSumDF.loc[i0, '법정동코드'] = carMovingDF.loc[i1, '법정동코드']
            carMovingSumDF.loc[i0, '법정동'] = carMovingDF.loc[i1, '행정동']
            carMovingSumDF.loc[i0, '법정구코드'] = carMovingDF.loc[i1, '법정구코드']
            carMovingSumDF.loc[i0, '법정구'] = carMovingDF.loc[i1, '법정구']
carMovingSumDF

In [ ]:
carMovingSumDF[carMovingSumDF['법정동코드'] == ""]['지점명'].value_counts()

In [ ]:
carMovingSumDF['법정동코드'] = carMovingSumDF['법정동코드'].astype('str')
carMovingSumDF['일자'] = carMovingSumDF['일자'].astype('str')
carMovingSumDF['법정구코드'] = carMovingSumDF['법정구코드'].astype('str')
carMovingSumDF.info()

In [ ]:
carMovingSumGroup = carMovingSumDF.groupby('지점명').agg('sum')
carMovingSumGroup

In [21]:
carMovingSumPivot = pd.pivot_table(carMovingSumDF, index='일자', values='통행량', columns='법정구', aggfunc='sum')
carMovingSumPivot

NameError: name 'carMovingSumDF' is not defined

In [22]:
sns.heatmap(carMovingSumPivot)

NameError: name 'carMovingSumPivot' is not defined

In [23]:
carMovingSumPivot.plot()

NameError: name 'carMovingSumPivot' is not defined

In [24]:
carMovingGangnam = pd.pivot_table(carMovingSumDF[carMovingSumDF['법정구'] == '강남구'], index='일자', values='통행량', columns='법정동', aggfunc='sum')
carMovingGangnam

NameError: name 'carMovingSumDF' is not defined

In [25]:
carMovingGangnam.plot(xticks=[x for x in range(0, 120, 6)])
plt.xlabel('강남구 법정동')
plt.xticks(rotation=90)

NameError: name 'carMovingGangnam' is not defined

In [26]:
navDF = pd.read_csv(dataPath + 'seoul_nav.csv', encoding='utf8')
navDF = navDF[navDF.columns[1:]]
navDF

        출발읍면동 도착읍면동        거리
0       청운효자동   사직동  1.041590
1       청운효자동   삼청동  1.182414
2       청운효자동   부암동  1.276478
3       청운효자동   평창동  3.244742
4       청운효자동   무악동  1.310984
...       ...   ...       ...
396490    암사동   천호동  0.987142
396491    암사동   강일동  3.877306
396492    성내동   천호동  1.390571
396493    성내동   강일동  5.632983
396494    천호동   강일동  4.517841

[396495 rows x 3 columns]

In [ ]:
#우찬희

In [ ]:
#우찬희

In [ ]:
#김태훈

In [2]:
df = pd.read_excel(dataPath + '전기차충전기위치.xlsx')
df

,충전소명,충전기타입,충전기상태,주소
0,종묘 공영주차장,03(DC 차데모+AC 3상),9(상태미확인),서울특별시 종로구 종로 157
1,세종로 공영주차장,06(DC 차데모+AC 3상+DC 콤보),9(상태미확인),서울특별시 종로구 세종대로 189
2,그랜드앰배서더 서울,06(DC 차데모+AC 3상+DC 콤보),9(상태미확인),서울특별시 중구 동호로 287
3,한강진역 공영주차장,03(DC 차데모+AC 3상),9(상태미확인),서울특별시 용산구 한남동 산10-84
4,마장동사무소 앞(공중전화부스),06(DC 차데모+AC 3상+DC 콤보),9(상태미확인),서울특별시 성동구 마장동 808
...,...,...,...,...
117212,영남알프스복합웰컴센터,04(DC 콤보),2(충전대기),울산광역시 울주군 상북면 등억알프스리 517
117213,언양읍 행정복지센터,04(DC 콤보),2(충전대기),울산광역시 울주군 언양읍 동문길 7
117214,화봉공원 공영주차장,06(DC 차데모+AC 3상+DC 콤보),2(충전대기),울산광역시 북구 화봉동 445-1
117215,화봉공원 공영주차장,06(DC 차데모+AC 3상+DC 콤보),2(충전대기),울산광역시 북구 화봉동 445-1
117216,낙산해수욕장주차장,06(DC 차데모+AC 3상+DC 콤보),9(상태미확인),강원도 양양군 강현면 일출로 43

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117217 entries, 0 to 117216
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   충전소명    117217 non-null  object
 1   충전기타입   117217 non-null  object
 2   충전기상태   117217 non-null  object
 3   주소      117217 non-null  object
dtypes: object(4)
memory usage: 3.6+ MB

In [4]:
df['주소'][0].split()

['서울특별시', '종로구', '종로', '157']

In [5]:
df['주소']

0                 서울특별시 종로구 종로 157
1               서울특별시 종로구 세종대로 189
2                 서울특별시 중구 동호로 287
3             서울특별시 용산구 한남동 산10-84
4                서울특별시 성동구 마장동 808
                    ...
117212    울산광역시 울주군 상북면 등억알프스리 517
117213         울산광역시 울주군 언양읍 동문길 7
117214          울산광역시 북구 화봉동 445-1
117215          울산광역시 북구 화봉동 445-1
117216          강원도 양양군 강현면 일출로 43
Name: 주소, Length: 117217, dtype: object

In [6]:
df['주소'][i].split()[0] == '서울특별시'

NameError: name 'i' is not defined

In [ ]:
type(df.iloc[4])

In [ ]:
df2 = pd.DataFrame()
df2

In [ ]:
c1 = []
for i in range(len(df)):
    if df['주소'][i].split()[0] == '서울특별시':
        c1.append(True)
    else:
        c1.append(False)
df[c1]

In [ ]:
#이주태

In [27]:
sns.heatmap(carMovingSumPivot)

NameError: name 'carMovingSumPivot' is not defined

In [2]:
df

NameError: name 'df' is not defined