In [2]:
import os
import pandas as pd

nonSharedDataPath = os.getcwd().replace("\\", "/") + "/../../공유못함/"

In [9]:
df = pd.read_csv('result.csv', sep=',', encoding='euc-kr')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29993501 entries, 0 to 29993500
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   기준_날짜      int64
 1   시작_행정동_ID  int64
 2   종료_행정동_ID  int64
 3   승객수        int64
dtypes: int64(4)
memory usage: 915.3 MB

In [10]:
df

             기준_날짜  시작_행정동_ID  종료_행정동_ID  승객수
0         20220101    1112056    2305057    6
1         20220101    1113071    1113070   46
2         20220101    1102071    1125074    8
3         20220101    1105053    1110065  149
4         20220101    1104052    1102065   43
...            ...        ...        ...  ...
29993496  20220430    3102154    1104066    8
29993497  20220430    1112074    1115054    1
29993498  20220430    2308060    1123066    3
29993499  20220430    1123052    1123052  966
29993500  20220430    1120067    1114076    5

[29993501 rows x 4 columns]

In [7]:
df[df.columns[0]] = df[df.columns[0]].astype('str')
df[df.columns[0]] = df[df.columns[0]].apply(lambda x : x[:-2])
df

C:\Users\bigdata\AppData\Local\Temp\ipykernel_2724\736520923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns[0]] = df[df.columns[0]].astype('str')
C:\Users\bigdata\AppData\Local\Temp\ipykernel_2724\736520923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.columns[0]] = df[df.columns[0]].apply(lambda x : x[:-2])

             기준_날짜  시작_행정동_ID  종료_행정동_ID  승객수
0         20220101    1112056    2305057    6
1         20220101    1113071    1113070   46
2         20220101    1102071    1125074    8
3         20220101    1105053    1110065  149
4         20220101    1104052    1102065   43
...            ...        ...        ...  ...
29993496  20220430    3102154    1104066    8
29993497  20220430    1112074    1115054    1
29993498  20220430    2308060    1123066    3
29993499  20220430    1123052    1123052  966
29993500  20220430    1120067    1114076    5

[29993501 rows x 4 columns]

In [4]:
for i in df.columns[1:]:
    df[i] = df[i].apply(lambda x : x[:-2])
df

               기준_날짜 시작_행정동_ID 종료_행정동_ID  승객수
0         20220101.0   1112056   2305057    6
1         20220101.0   1113071   1113070   46
2         20220101.0   1102071   1125074    8
3         20220101.0   1105053   1110065  149
4         20220101.0   1104052   1102065   43
...              ...       ...       ...  ...
29993496  20220430.0   3102154   1104066    8
29993497  20220430.0   1112074   1115054    1
29993498  20220430.0   2308060   1123066    3
29993499  20220430.0   1123052   1123052  966
29993500  20220430.0   1120067   1114076    5

[29993501 rows x 4 columns]

In [8]:
df.to_csv('result.csv', encoding='euc-kr', index=False)

In [47]:
import gc
gc.collect()

5857

In [34]:
df2 = pd.read_csv('법정코드매핑.csv', encoding='euc-kr')
df2 = df2[df2.columns[1:]]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   1112 non-null   int64
 1   법정동명    1112 non-null   object
 2   폐지여부    1112 non-null   object
 3   법정동     1086 non-null   object
 4   법정구     1086 non-null   object
 5   법정구코드   1086 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 52.2+ KB

In [36]:
df2.fillna(0)

           법정동코드           법정동명 폐지여부  법정동  법정구         법정구코드
0     1100000000          서울특별시   존재    0    0  0.000000e+00
1     1111000000      서울특별시 종로구   존재    0    0  0.000000e+00
2     1111010100  서울특별시 종로구 청운동   존재  청운동  종로구  1.111000e+09
3     1111010200  서울특별시 종로구 신교동   존재  신교동  종로구  1.111000e+09
4     1111010300  서울특별시 종로구 궁정동   존재  궁정동  종로구  1.111000e+09
...          ...            ...  ...  ...  ...           ...
1107  1174010600  서울특별시 강동구 둔촌동   존재  둔촌동  강동구  1.174000e+09
1108  1174010700  서울특별시 강동구 암사동   존재  암사동  강동구  1.174000e+09
1109  1174010800  서울특별시 강동구 성내동   존재  성내동  강동구  1.174000e+09
1110  1174010900  서울특별시 강동구 천호동   존재  천호동  강동구  1.174000e+09
1111  1174011000  서울특별시 강동구 강일동   존재  강일동  강동구  1.174000e+09

[1112 rows x 6 columns]

In [29]:
def zerocut(x):
    return x[:-2]

In [37]:
df2['법정동명'].apply(lambda x : x[:-2])

0               서울특
1           서울특별시 종
2       서울특별시 종로구 청
3       서울특별시 종로구 신
4       서울특별시 종로구 궁
           ...
1107    서울특별시 강동구 둔
1108    서울특별시 강동구 암
1109    서울특별시 강동구 성
1110    서울특별시 강동구 천
1111    서울특별시 강동구 강
Name: 법정동명, Length: 1112, dtype: object