In [58]:
import os
import multiprocessing
import pandas as pd
import requests
import csv

from bs4 import BeautifulSoup as bs

In [8]:
df = pd.read_csv('C:/Users/bigdata/Downloads/TR182100150002.csv', sep='|')
df

,YM_ID,CRSRD_ID,TR_VOL,GO_VOL,LEFT_VOL,RIGHT_VOL,UTURN_VOL,BIKE_VOL,CAR_VOL,SUV_VOL,VAN_VOL,TRUCK_VOL,BUS_VOL,ETL_TYPE,ETL_DATE
0,202111,1830002000,1530459,1457067,26746,35022,11624,24351,838116,291945,107109,213181,55757,603,2021-12-01 00:31:14
1,202111,1830002300,389881,214855,97299,77727,0,10928,226197,67872,23486,49831,11567,603,2021-12-01 00:31:14
2,202111,1830002400,1692414,892012,368819,385254,46329,32393,1013235,305867,107798,177314,55807,603,2021-12-01 00:31:14
3,202111,1830004600,1573474,969496,319425,239445,45108,49573,923785,279264,91331,152875,76646,603,2021-12-01 00:31:14
4,202111,1830005200,2913180,1416468,759985,530395,206332,84331,1846650,447647,166144,273351,95057,603,2021-12-01 00:31:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,202111,1870003600,1365459,606006,320530,385043,53880,50768,758914,233927,78310,186986,56554,603,2021-12-01 00:31:14
82,202111,1870003900,1418665,699995,349251,328929,40490,27489,733439,280464,72670,247107,57496,603,2021-12-01 00:31:14
83,202111,1870005700,1538195,981501,243435,254023,59236,26368,849799,257547,98169,267013,39299,603,2021-12-01 00:31:14
84,202111,1870016600,1154727,807679,163361,165671,18016,13225,606193,224236,66167,211000,33906,603,2021-12-01 00:31:14
85,202111,1870020200,1564645,819119,383382,342311,19833,15512,906192,277716,102157,225079,37989,603,2021-12-01 00:31:14

In [ ]:
f=open(file_path, encoding="utf8")
reader = csv.reader(f)
csv_list=[]
for l in reader:
    csv_list.append(l)
f.close()
log_df = pd.DataFrame(csv_list)
log_df

In [84]:
csv_list = []
with open(path, encoding='utf8') as f:
    reader = csv.reader(f)
    for i in reader:
        csv_list.append(i)
        
tempdf = pd.DataFrame(csv_list)
tempdf

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
1,20191001,00,11110515,15270.768899999999,526.5168,335.49759999999998,428.5437,625.10109999999997,498.7679,433.29050000000001,...,476.10320000000002,516.34590000000003,683.79480000000001,748.33040000000005,851.55160000000001,641.2577,568.05560000000003,491.95979999999997,430.5625,1109.6238000000001
2,20191001,00,11110530,16499.397499999999,541.91,240.84899999999999,234.84020000000001,549.49770000000001,534.75409999999999,585.15250000000003,...,658.60270000000003,713.29750000000001,774.31769999999995,754.10389999999995,744.2423,598.07749999999999,571.36900000000003,563.25639999999999,397.74329999999998,1253.3703
3,20191001,00,11110540,5454.6271999999999,115.0705,88.171300000000002,443.72649999999999,421.87419999999997,145.24100000000001,219.6405,...,128.98929999999999,164.7047,187.55240000000001,204.3914,195.37100000000001,158.84790000000001,210.60400000000001,180.797,165.6413,487.20530000000002
4,20191001,00,11110550,15042.6134,401.3388,311.1925,432.17200000000003,532.88289999999995,434.7045,364.35559999999998,...,367.84120000000001,457.47480000000002,593.81370000000004,552.90260000000001,768.01340000000005,626.63469999999995,675.05060000000003,557.84079999999994,408.0942,1559.2782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183164,20191031,23,11350612,17632.121899999998,681.3252,602.38850000000002,675.60990000000004,478.17930000000001,414.30259999999998,390.68700000000001,...,580.33860000000004,562.16679999999997,618.57079999999996,786.28210000000001,929.20529999999997,729.10419999999999,817.41129999999998,633.59069999999997,463.03019999999998,1213.9416000000001
183165,20191031,23,11170630,29172.271700000001,1316.3336,706.98389999999995,578.36040000000003,535.9633,575.92880000000002,813.99429999999995,...,790.01599999999996,1031.9463000000001,1481.3724999999999,1471.4765,1398.3572999999999,1094.3471,1141.3413,1059.4292,694.9434,2446.4439000000002
183166,20191031,23,11545710,14687.8462,456.6597,265.85820000000001,302.8503,381.77350000000001,539.39499999999998,520.85590000000002,...,483.25720000000001,466.89109999999999,587.26310000000001,506.31709999999998,629.75120000000004,619.37779999999998,638.97040000000004,586.79539999999997,580.17439999999999,1081.0983000000001
183167,20191031,23,11320522,19245.575400000002,958.953,418.96910000000003,349.75080000000003,388.49400000000003,524.55190000000005,509.10879999999997,...,588.69619999999998,600.60329999999999,697.47379999999998,736.85140000000001,755.11410000000001,677.42849999999999,857.42240000000004,869.15210000000002,713.86869999999999,1663.5753999999999
183168,20191031,23,11740520,16551.045900000001,368.2088,375.6311,549.34410000000003,340.80079999999998,530.62329999999997,508.67509999999999,...,525.62310000000002,489.33780000000002,571.56269999999995,640.68420000000003,750.1078,756.68859999999995,851.12519999999995,767.16930000000002,557.34180000000003,1338.6792

In [85]:
tempdf.columns = tempdf.iloc[0]
tempdf.rename({tempdf.columns[0] : "기준일ID"}, axis=1,inplace=True)

tempdf

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
1,20191001,00,11110515,15270.768899999999,526.5168,335.49759999999998,428.5437,625.10109999999997,498.7679,433.29050000000001,...,476.10320000000002,516.34590000000003,683.79480000000001,748.33040000000005,851.55160000000001,641.2577,568.05560000000003,491.95979999999997,430.5625,1109.6238000000001
2,20191001,00,11110530,16499.397499999999,541.91,240.84899999999999,234.84020000000001,549.49770000000001,534.75409999999999,585.15250000000003,...,658.60270000000003,713.29750000000001,774.31769999999995,754.10389999999995,744.2423,598.07749999999999,571.36900000000003,563.25639999999999,397.74329999999998,1253.3703
3,20191001,00,11110540,5454.6271999999999,115.0705,88.171300000000002,443.72649999999999,421.87419999999997,145.24100000000001,219.6405,...,128.98929999999999,164.7047,187.55240000000001,204.3914,195.37100000000001,158.84790000000001,210.60400000000001,180.797,165.6413,487.20530000000002
4,20191001,00,11110550,15042.6134,401.3388,311.1925,432.17200000000003,532.88289999999995,434.7045,364.35559999999998,...,367.84120000000001,457.47480000000002,593.81370000000004,552.90260000000001,768.01340000000005,626.63469999999995,675.05060000000003,557.84079999999994,408.0942,1559.2782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183164,20191031,23,11350612,17632.121899999998,681.3252,602.38850000000002,675.60990000000004,478.17930000000001,414.30259999999998,390.68700000000001,...,580.33860000000004,562.16679999999997,618.57079999999996,786.28210000000001,929.20529999999997,729.10419999999999,817.41129999999998,633.59069999999997,463.03019999999998,1213.9416000000001
183165,20191031,23,11170630,29172.271700000001,1316.3336,706.98389999999995,578.36040000000003,535.9633,575.92880000000002,813.99429999999995,...,790.01599999999996,1031.9463000000001,1481.3724999999999,1471.4765,1398.3572999999999,1094.3471,1141.3413,1059.4292,694.9434,2446.4439000000002
183166,20191031,23,11545710,14687.8462,456.6597,265.85820000000001,302.8503,381.77350000000001,539.39499999999998,520.85590000000002,...,483.25720000000001,466.89109999999999,587.26310000000001,506.31709999999998,629.75120000000004,619.37779999999998,638.97040000000004,586.79539999999997,580.17439999999999,1081.0983000000001
183167,20191031,23,11320522,19245.575400000002,958.953,418.96910000000003,349.75080000000003,388.49400000000003,524.55190000000005,509.10879999999997,...,588.69619999999998,600.60329999999999,697.47379999999998,736.85140000000001,755.11410000000001,677.42849999999999,857.42240000000004,869.15210000000002,713.86869999999999,1663.5753999999999
183168,20191031,23,11740520,16551.045900000001,368.2088,375.6311,549.34410000000003,340.80079999999998,530.62329999999997,508.67509999999999,...,525.62310000000002,489.33780000000002,571.56269999999995,640.68420000000003,750.1078,756.68859999999995,851.12519999999995,767.16930000000002,557.34180000000003,1338.6792

In [86]:
df = pd.DataFrame()

for i0 in range(2018, 2022):
    for i1 in range(1, 13):
        year = str(i0) + '{:0>2}'.format(str(i1))
        path = 'C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_{0}/LOCAL_PEOPLE_DONG_{0}.csv'.format(year)
        print(path)
        
        csv_list = []
        with open(path, encoding='utf8') as f:
            reader = csv.reader(f)
            for i in reader:
                csv_list.append(i)
        
        tempdf = pd.DataFrame(csv_list)
        tempdf.columns = tempdf.iloc[0]
        tempdf.rename({tempdf.columns[0] : "기준일ID"}, axis=1,inplace=True)
        
        df = pd.concat([df, tempdf[1:][['기준일ID', '시간대구분', '행정동코드', '총생활인구수']]])

df.to_csv('result.csv', sep=',')

C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201801/LOCAL_PEOPLE_DONG_201801.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201802/LOCAL_PEOPLE_DONG_201802.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201803/LOCAL_PEOPLE_DONG_201803.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201804/LOCAL_PEOPLE_DONG_201804.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201805/LOCAL_PEOPLE_DONG_201805.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201806/LOCAL_PEOPLE_DONG_201806.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201807/LOCAL_PEOPLE_DONG_201807.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201808/LOCAL_PEOPLE_DONG_201808.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201809/LOCAL_PEOPLE_DONG_201809.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201810/LOCAL_PEOPLE_DONG_201810.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201811/LOCAL_PEOPLE_DONG_201811.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201812/LOCAL_PEOPLE_DONG_201812.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201901/LOCAL_PEOPLE_DONG_201901.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201902/LOCAL_PEOPLE_DONG_201902.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201903/LOCAL_PEOPLE_DONG_201903.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201904/LOCAL_PEOPLE_DONG_201904.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201905/LOCAL_PEOPLE_DONG_201905.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201906/LOCAL_PEOPLE_DONG_201906.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201907/LOCAL_PEOPLE_DONG_201907.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201908/LOCAL_PEOPLE_DONG_201908.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201909/LOCAL_PEOPLE_DONG_201909.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201910/LOCAL_PEOPLE_DONG_201910.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201911/LOCAL_PEOPLE_DONG_201911.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_201912/LOCAL_PEOPLE_DONG_201912.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202001/LOCAL_PEOPLE_DONG_202001.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202002/LOCAL_PEOPLE_DONG_202002.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202003/LOCAL_PEOPLE_DONG_202003.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202004/LOCAL_PEOPLE_DONG_202004.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202005/LOCAL_PEOPLE_DONG_202005.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202006/LOCAL_PEOPLE_DONG_202006.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202007/LOCAL_PEOPLE_DONG_202007.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202008/LOCAL_PEOPLE_DONG_202008.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202009/LOCAL_PEOPLE_DONG_202009.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202010/LOCAL_PEOPLE_DONG_202010.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202011/LOCAL_PEOPLE_DONG_202011.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202012/LOCAL_PEOPLE_DONG_202012.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202101/LOCAL_PEOPLE_DONG_202101.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202102/LOCAL_PEOPLE_DONG_202102.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202103/LOCAL_PEOPLE_DONG_202103.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202104/LOCAL_PEOPLE_DONG_202104.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202105/LOCAL_PEOPLE_DONG_202105.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202106/LOCAL_PEOPLE_DONG_202106.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202107/LOCAL_PEOPLE_DONG_202107.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202108/LOCAL_PEOPLE_DONG_202108.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202109/LOCAL_PEOPLE_DONG_202109.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202110/LOCAL_PEOPLE_DONG_202110.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202111/LOCAL_PEOPLE_DONG_202111.csv
C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_202112/LOCAL_PEOPLE_DONG_202112.csv

In [54]:
df = pd.concat([df, pd.read_csv(path, sep=',', index_col=False)[['기준일ID', '시간대구분', '행정동코드', '총생활인구수']]])
df

C:\Users\bigdata\AppData\Local\Temp\ipykernel_1088\1616084102.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.concat([df, pd.read_csv(path, sep=',', index_col=False)[['기준일ID', '시간대구분', '행정동코드', '총생활인구수']]])

           기준일ID  시간대구분     행정동코드      총생활인구수
0       20180101      0  11110515  14471.4116
1       20180101      0  11110530  23059.7992
2       20180101      0  11110540   4928.6410
3       20180101      0  11110550  14060.9810
4       20180101      0  11110560  20322.3298
...          ...    ...       ...         ...
315451  20180131     23  11740650  34162.7808
315452  20180131     23  11740660  27858.2533
315453  20180131     23  11740685  63271.8464
315454  20180131     23  11740690   6231.4073
315455  20180131     23  11740700  34258.3120

[946368 rows x 4 columns]