In [1]:
import pandas as pd
import os

print(os.getcwd())

C:\Users\bigdata\Desktop\three\이규민

In [15]:
df = pd.read_csv('C:/Users/bigdata/Downloads/tpss_emd_odh_202201/tpss_emd_odh_20220101.csv', sep=',', encoding='euc-kr')
df

,기준_날짜,시작_행정동_ID,종료_행정동_ID,승객_수_00,승객_수_01,승객_수_02,승객_수_03,승객_수_04,승객_수_05,승객_수_06,...,승객_수_14,승객_수_15,승객_수_16,승객_수_17,승객_수_18,승객_수_19,승객_수_20,승객_수_21,승객_수_22,승객_수_23
0,20220101,1112056.0,2305057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20220101,1113071.0,1113070.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,6.0,3.0,1.0,3.0,1.0,2.0,1.0
2,20220101,1102071.0,1125074.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,2.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN
3,20220101,1105053.0,1110065.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,...,5.0,3.0,6.0,4.0,9.0,12.0,20.0,23.0,12.0,2.0
4,20220101,1104052.0,1102065.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,4.0,5.0,3.0,3.0,1.0,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210713,20220101,2305057.0,1118057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210714,20220101,3126053.0,1110053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210715,20220101,1106071.0,1107052.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
210716,20220101,1118053.0,1125056.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210717,20220101,3110361.0,1115051.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
with open('C:/Users/bigdata/Downloads/tpss_emd_odh_202201/tpss_emd_odh_20220101.csv', 'r+') as f:
    p = f.read()
    f.write(p)

In [6]:
print(p[0:4])

"기준_