In [1]:
import pandas as pd
import os

print(os.getcwd())

C:\Users\bigdata\Desktop\three\이규민

In [56]:
df = pd.read_csv('C:/Users/bigdata/Downloads/tpss_emd_odh_202201/tpss_emd_odh_20220102.csv', sep=',', encoding='euc-kr', encoding_errors='ignore')
df

,기준_날짜,시작_행정동_ID,종료_행정동_ID,승객_수_00,승객_수_01,승객_수_02,승객_수_03,승객_수_04,승객_수_05,승객_수_06,...,승객_수_14,승객_수_15,승객_수_16,승객_수_17,승객_수_18,승객_수_19,승객_수_20,승객_수_21,승객_수_22,승객_수_23
0,20220102,1116073.0,1116071.0,NaN,NaN,NaN,NaN,NaN,22.0,34.0,...,94.0,79.0,67.0,60.0,50.0,22.0,16.0,17.0,7.0,5.0
1,20220102,1101064.0,1102054.0,NaN,NaN,NaN,NaN,NaN,3.0,4.0,...,37.0,69.0,76.0,44.0,73.0,77.0,103.0,50.0,16.0,3.0
2,20220102,NaN,1103052.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,3.0,NaN,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN
3,20220102,1124075.0,1122060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,11.0,10.0,5.0,4.0,2.0,1.0,1.0,1.0,NaN
4,20220102,2304062.0,1123059.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217723,20220102,1105053.0,1114075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
217724,20220102,1102057.0,3123061.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
217725,20220102,1110064.0,1111072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217726,20220102,1108078.0,3120031.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217727,20220102,1124069.0,3109174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [55]:
for i0 in range(2, 5):
    days = 31
    if i0 == 2:
        days = 28
    elif i0 == 4:
        days = 30
        
    for i1 in range(1, days + 1):
        path = 'C:/Users/bigdata/Downloads/tpss_emd_odh_2022' + '{:0>2}'.format(i0) + '/tpss_emd_odh_2022' + '{:0>2}'.format(i0) + '{:0>2}'.format(i1) + '.csv'
        with open(path, mode='r+', encoding='euc-kr', errors='ignore') as f:
            p = f.read()
        with open(path, mode='w', encoding='euc-kr', errors='ignore') as f:
            f.write(p[1:])

In [45]:
print(p[1:2])

"