In [2]:
import pandas as pd
import os

print(os.getcwd())

C:\Users\bigdata\Desktop\three\이규민

In [10]:
df = pd.DataFrame()

for i0 in range(1, 5):
    days = 31
    if i0 == 2:
        days = 28
    elif i0 == 4:
        days = 30
        
    for i1 in range(1, days + 1):
        path = 'C:/Users/bigdata/Downloads/tpss_emd_odh_2022' + '{:0>2}'.format(i0) \
        + '/tpss_emd_odh_2022' + '{:0>2}'.format(i0) + '{:0>2}'.format(i1) + '.csv'
        tempdf = pd.read_csv(path, sep=',', encoding='euc-kr')
        df = pd.concat([df, tempdf])
df.fillna(0, inplace=True)

KeyboardInterrupt:

In [19]:
df['승객수'] = 0
for i in df.columns[3:27]:
    df['승객수'] += df[i]
df

,기준_날짜,시작_행정동_ID,종료_행정동_ID,승객_수_00,승객_수_01,승객_수_02,승객_수_03,승객_수_04,승객_수_05,승객_수_06,...,승객_수_16,승객_수_17,승객_수_18,승객_수_19,승객_수_20,승객_수_21,승객_수_22,승객_수_23,"기준_날짜""",승객수
0,20220101.0,1112056.0,2305057.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
1,20220101.0,1113071.0,1113070.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,6.0,3.0,1.0,3.0,1.0,2.0,1.0,0.0,46.0
2,20220101.0,1102071.0,1125074.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,8.0
3,20220101.0,1105053.0,1110065.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,...,6.0,4.0,9.0,12.0,20.0,23.0,12.0,2.0,0.0,149.0
4,20220101.0,1104052.0,1102065.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,5.0,3.0,3.0,1.0,3.0,0.0,0.0,0.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254095,20220430.0,3102154.0,1104066.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0
254096,20220430.0,1112074.0,1115054.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
254097,20220430.0,2308060.0,1123066.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0
254098,20220430.0,1123052.0,1123052.0,6.0,5.0,0.0,0.0,9.0,22.0,23.0,...,85.0,77.0,64.0,53.0,37.0,45.0,28.0,42.0,0.0,966.0
254099,20220430.0,1120067.0,1114076.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [21]:
df[['기준_날짜', '시작_행정동_ID', '종료_행정동_ID', '승객수']]\
.to_csv('행정동별대중교통수단통합.csv', sep=',', encoding='euc-kr', index=False)
df = pd.read_csv('행정동별대중교통수단통합.csv', sep=',', encoding='euc-kr')
df

In [29]:
df = pd.DataFrame()

for i in range(1, 5):
    sheetName = '2022년 ' + '{:0>2}'.format(i) + '월'
    path = 'C:/Users/bigdata/Downloads/서울시교통량/' + '{:0>2}'.format(i) + '월 서울시 교통량 조사자료(2022).xlsx'
    df = pd.concat([df, pd.read_excel(path, sheet_name=sheetName)])
df

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20220101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20220102,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20220103,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20220104,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20220105,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8335,20220426,화,신월여의지하도로,F-10,유출,서울교->신월IC,399.0,220.0,139.0,92.0,...,1262.0,1499.0,1709.0,2052.0,1945.0,1858.0,1625.0,1222.0,1237.0,802.0
8336,20220427,수,신월여의지하도로,F-10,유출,서울교->신월IC,535.0,276.0,162.0,101.0,...,1047.0,1424.0,1755.0,1915.0,1848.0,2006.0,1650.0,1261.0,1263.0,878.0
8337,20220428,목,신월여의지하도로,F-10,유출,서울교->신월IC,643.0,330.0,157.0,114.0,...,1258.0,1510.0,1835.0,2124.0,1829.0,1847.0,1606.0,1377.0,1333.0,994.0
8338,20220429,금,신월여의지하도로,F-10,유출,서울교->신월IC,582.0,342.0,198.0,154.0,...,1362.0,1669.0,2038.0,1790.0,1574.0,1868.0,1722.0,1363.0,1243.0,1041.0
8339,20220430,토,신월여의지하도로,F-10,유출,서울교->신월IC,696.0,413.0,276.0,175.0,...,1531.0,1722.0,2006.0,2037.0,2057.0,1548.0,1451.0,1333.0,1033.0,852.0

In [30]:
df.fillna(0, inplace=True)

In [31]:
df['통행량'] = 0
for i in df.columns[6:]:
    df['통행량'] += df[i]
df

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,통행량
0,20220101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20220102,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20220103,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20220104,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20220105,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8335,20220426,화,신월여의지하도로,F-10,유출,서울교->신월IC,399.0,220.0,139.0,92.0,...,1499.0,1709.0,2052.0,1945.0,1858.0,1625.0,1222.0,1237.0,802.0,47150.0
8336,20220427,수,신월여의지하도로,F-10,유출,서울교->신월IC,535.0,276.0,162.0,101.0,...,1424.0,1755.0,1915.0,1848.0,2006.0,1650.0,1261.0,1263.0,878.0,47572.0
8337,20220428,목,신월여의지하도로,F-10,유출,서울교->신월IC,643.0,330.0,157.0,114.0,...,1510.0,1835.0,2124.0,1829.0,1847.0,1606.0,1377.0,1333.0,994.0,49836.0
8338,20220429,금,신월여의지하도로,F-10,유출,서울교->신월IC,582.0,342.0,198.0,154.0,...,1669.0,2038.0,1790.0,1574.0,1868.0,1722.0,1363.0,1243.0,1041.0,49690.0
8339,20220430,토,신월여의지하도로,F-10,유출,서울교->신월IC,696.0,413.0,276.0,175.0,...,1722.0,2006.0,2037.0,2057.0,1548.0,1451.0,1333.0,1033.0,852.0,51712.0

In [53]:
df[df.columns[:5].append(df.columns[-1:])].to_csv('통행합계.csv', sep=',', encoding='euc-kr', index=False)
df = pd.read_csv('통행합계.csv', sep=',', encoding='euc-kr')
df

             일자 요일        지점명  지점번호  방향      통행량
0      20220101  일  성산로(금화터널)  A-01  유입      0.0
1      20220102  일  성산로(금화터널)  A-01  유입      0.0
2      20220103  월  성산로(금화터널)  A-01  유입      0.0
3      20220104  화  성산로(금화터널)  A-01  유입      0.0
4      20220105  수  성산로(금화터널)  A-01  유입      0.0
...         ... ..        ...   ...  ..      ...
33355  20220426  화   신월여의지하도로  F-10  유출  47150.0
33356  20220427  수   신월여의지하도로  F-10  유출  47572.0
33357  20220428  목   신월여의지하도로  F-10  유출  49836.0
33358  20220429  금   신월여의지하도로  F-10  유출  49690.0
33359  20220430  토   신월여의지하도로  F-10  유출  51712.0

[33360 rows x 6 columns]