In [1]:
import pandas as pd

In [9]:
car = pd.read_csv('c:/users/taihoon/desktop/three/자료/car_불러들이기위한.csv',sep=',')
car

E:\taihoon\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,연월,사용본거지시군구,시군구코드,행정동사용본거지,행정동사용본거지코드,용도,차종종별,연료,건수
0,201512,서울특별시 종로구,11110,NaN,58000,자가용,화물,경유,1
1,201512,서울특별시 종로구,11110,NaN,60000,자가용,승용,휘발유,2
2,201512,서울특별시 종로구,11110,NaN,60000,자가용,화물,휘발유,1
3,201512,서울특별시 종로구,11110,NaN,61500,자가용,화물,휘발유,2
4,201512,서울특별시 종로구,11110,NaN,62000,자가용,화물,경유,1
...,...,...,...,...,...,...,...,...,...
101556,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000.0,영업용,승합,엘피지,76
101557,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000.0,영업용,화물,전기,1
101558,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,승용,경유,1894
101559,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,화물,기타연료,6
101560,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,특수,엘피지,2

In [3]:
# 결측치 처리
car = car.dropna()

# 조건에 맞는 데이터만 추출
car = car[car['연월'] == 202112]

# 인덱스번호 초기화
car = car.reset_index(drop=True)
car

,연월,사용본거지시군구,시군구코드,행정동사용본거지,행정동사용본거지코드,용도,차종종별,연료,건수
0,202112,서울특별시 종로구,11110,서울특별시 종로구 청운효자동,1111051500.0,영업용,화물,경유,13
1,202112,서울특별시 종로구,11110,서울특별시 종로구 사직동,1111053000.0,관용,승용,하이브리드(LPG+전기),5
2,202112,서울특별시 종로구,11110,서울특별시 종로구 사직동,1111053000.0,자가용,승합,경유,148
3,202112,서울특별시 종로구,11110,서울특별시 종로구 사직동,1111053000.0,자가용,승합,엘피지,12
4,202112,서울특별시 종로구,11110,서울특별시 종로구 사직동,1111053000.0,영업용,승용,하이브리드(휘발유+전기),29
...,...,...,...,...,...,...,...,...,...
14830,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000.0,영업용,승합,엘피지,76
14831,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000.0,영업용,화물,전기,1
14832,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,승용,경유,1894
14833,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,화물,기타연료,6
14834,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,특수,엘피지,2

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   연월          14835 non-null  int64
 1   사용본거지시군구    14835 non-null  object
 2   시군구코드       14835 non-null  int64
 3   행정동사용본거지    14835 non-null  object
 4   행정동사용본거지코드  14835 non-null  object
 5   용도          14835 non-null  object
 6   차종종별        14835 non-null  object
 7   연료          14835 non-null  object
 8   건수          14835 non-null  int64
dtypes: int64(3), object(6)
memory usage: 1.0+ MB

In [5]:
car.describe()

             연월         시군구코드            건수
count   14835.0  14835.000000  14835.000000
mean   202112.0  11438.931244    213.875834
std         0.0    190.884256    594.584451
min    202112.0  11110.000000      1.000000
25%    202112.0  11290.000000      2.000000
50%    202112.0  11440.000000      8.000000
75%    202112.0  11620.000000     72.000000
max    202112.0  11740.000000   6916.000000

In [6]:
# 행정동별로
# 차종별+연료별로 그룹묶어서 퍼센트(%)

# 행정코드, 차종종별, 연료, 퍼센트

# 비율을 내기위한 전체 건수 합
print(car['건수'].sum())

# 그룹지은것 중 건수만 sum 해야 하기에 나머지는 문자열로 변환
car['연월'] = car['연월'].astype(str)
car['행정동사용본거지코드'] = car['행정동사용본거지코드'].astype(str)
car['시군구코드'] = car['시군구코드'].astype(str)

# 필요한 컬럼들만 그룹짓고 합계 구한 후 건수를 기준으로 내림차순 정렬하기
car = (car.groupby(['연월','행정동사용본거지','행정동사용본거지코드','차종종별','연료'],
                        as_index=False).sum()).sort_values(
                            by=['건수'],
                            ascending=False
                        )
car

3172848

          연월        행정동사용본거지    행정동사용본거지코드 차종종별            연료    건수
1321  202112  서울특별시 강서구 가양1동  1150060300.0   승용       휘발유(무연)  7335
7014  202112  서울특별시 송파구 잠실6동  1171071000.0   화물            경유  6754
5609  202112  서울특별시 서초구 양재1동  1165065100.0   승용       휘발유(무연)  6410
2945  202112   서울특별시 금천구 가산동  1154551000.0   승용       휘발유(무연)  6020
9368  202112    서울특별시 중구 회현동  1114054000.0   승용           휘발유  5841
...      ...             ...           ...  ...           ...   ...
3748  202112  서울특별시 도봉구 쌍문2동  1132067000.0   특수          기타연료     1
6473  202112  서울특별시 성북구 정릉4동  1129065000.0   특수          기타연료     1
3758  202112  서울특별시 도봉구 쌍문3동  1132068000.0   승용  하이브리드(경유+전기)     1
6471  202112  서울특별시 성북구 정릉4동  1129065000.0   승합           휘발유     1
0     202112     경기도 군포시 금정동  4141056000.0   승용           휘발유     1

[9747 rows x 6 columns]

In [7]:
# 백분율 구하기
car['비율'] =  (car['건수']/3172848) *100 

# 인덱스 번호 초기화 하기
car = car.reset_index(drop=True)
car

          연월        행정동사용본거지    행정동사용본거지코드 차종종별            연료    건수        비율
0     202112  서울특별시 강서구 가양1동  1150060300.0   승용       휘발유(무연)  7335  0.231180
1     202112  서울특별시 송파구 잠실6동  1171071000.0   화물            경유  6754  0.212869
2     202112  서울특별시 서초구 양재1동  1165065100.0   승용       휘발유(무연)  6410  0.202027
3     202112   서울특별시 금천구 가산동  1154551000.0   승용       휘발유(무연)  6020  0.189735
4     202112    서울특별시 중구 회현동  1114054000.0   승용           휘발유  5841  0.184093
...      ...             ...           ...  ...           ...   ...       ...
9742  202112  서울특별시 도봉구 쌍문2동  1132067000.0   특수          기타연료     1  0.000032
9743  202112  서울특별시 성북구 정릉4동  1129065000.0   특수          기타연료     1  0.000032
9744  202112  서울특별시 도봉구 쌍문3동  1132068000.0   승용  하이브리드(경유+전기)     1  0.000032
9745  202112  서울특별시 성북구 정릉4동  1129065000.0   승합           휘발유     1  0.000032
9746  202112     경기도 군포시 금정동  4141056000.0   승용           휘발유     1  0.000032

[9747 rows x 7 columns]

In [8]:
car.to_excel('c:/users/taihoon/desktop/three/자료/car_total.xlsx',index=False)