In [1]:
import pandas as pd

In [32]:
car = pd.read_csv('c:/users/taihoon/desktop/three/자료/asd.csv',sep=',')
car['행정동사용본거지코드'] = car['행정동사용본거지코드'].fillna(0)
# car['행정동사용본거지코드'] = pd.to_numeric(car['행정동사용본거지코드'])
car_gun = car[['행정동사용본거지','행정동사용본거지코드','차종종별','연료','건수']]
car_gun

E:\taihoon\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

              행정동사용본거지    행정동사용본거지코드 차종종별    연료    건수
0                  NaN         58000   화물    경유     1
1                  NaN         60000   승용   휘발유     2
2                  NaN         60000   화물   휘발유     1
3                  NaN         61500   화물   휘발유     2
4                  NaN         62000   화물    경유     1
...                ...           ...  ...   ...   ...
101556  서울특별시 강동구 둔촌1동  1174069000.0   승합   엘피지    76
101557  서울특별시 강동구 둔촌1동  1174069000.0   화물    전기     1
101558  서울특별시 강동구 둔촌2동  1174070000.0   승용    경유  1894
101559  서울특별시 강동구 둔촌2동  1174070000.0   화물  기타연료     6
101560  서울특별시 강동구 둔촌2동  1174070000.0   특수   엘피지     2

[101561 rows x 5 columns]

In [33]:
car

,연월,사용본거지시군구,시군구코드,행정동사용본거지,행정동사용본거지코드,용도,차종종별,연료,건수
0,201512,서울특별시 종로구,11110,NaN,58000,자가용,화물,경유,1
1,201512,서울특별시 종로구,11110,NaN,60000,자가용,승용,휘발유,2
2,201512,서울특별시 종로구,11110,NaN,60000,자가용,화물,휘발유,1
3,201512,서울특별시 종로구,11110,NaN,61500,자가용,화물,휘발유,2
4,201512,서울특별시 종로구,11110,NaN,62000,자가용,화물,경유,1
...,...,...,...,...,...,...,...,...,...
101556,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000.0,영업용,승합,엘피지,76
101557,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000.0,영업용,화물,전기,1
101558,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,승용,경유,1894
101559,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,화물,기타연료,6
101560,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,특수,엘피지,2

In [34]:
car['건수'].sum()

21838763

In [35]:
#2022년 1월부터 4월까지
# 행정동별로
# 차종별+연료별로 그룹묶어서 퍼센트(%)

# 행정코드, 차종종별, 연료, 퍼센트

car_gun = (car_gun.groupby(['행정동사용본거지','행정동사용본거지코드','차종종별','연료'],
                        as_index=False).sum()).sort_values(
                            by=['건수'],
                            ascending=False
                        )
car_gun

              행정동사용본거지    행정동사용본거지코드 차종종별            연료     건수
15577   서울특별시 영등포구 여의동    1156054000   승용            경유  36691
15586   서울특별시 영등포구 여의동    1156054000   승용       휘발유(무연)  34512
15585   서울특별시 영등포구 여의동    1156054000   승용           휘발유  33805
820     서울특별시 강남구 역삼1동    1168064000   승용       휘발유(무연)  28889
2661    서울특별시 강서구 가양1동    1150060300   승용       휘발유(무연)  28016
...                ...           ...  ...           ...    ...
8212   서울특별시 동대문구 청량리동    1123070500   승용       휘발유(유연)      1
8214   서울특별시 동대문구 청량리동    1123070500   승합          기타연료      1
16645   서울특별시 은평구 불광2동  1138053000.0   승용  하이브리드(경유+전기)      1
900     서울특별시 강남구 일원1동  1168073000.0   특수           휘발유      1
18050    서울특별시 중구 신당2동    1114062000   승합           엘피지      1

[19221 rows x 5 columns]

In [36]:
car_gun['비율'] =  (car_gun['건수']/21838763) *100 
car_gun = car_gun.reset_index(drop=True)
car_gun

              행정동사용본거지    행정동사용본거지코드 차종종별            연료     건수        비율
0       서울특별시 영등포구 여의동    1156054000   승용            경유  36691  0.168009
1       서울특별시 영등포구 여의동    1156054000   승용       휘발유(무연)  34512  0.158031
2       서울특별시 영등포구 여의동    1156054000   승용           휘발유  33805  0.154794
3       서울특별시 강남구 역삼1동    1168064000   승용       휘발유(무연)  28889  0.132283
4       서울특별시 강서구 가양1동    1150060300   승용       휘발유(무연)  28016  0.128286
...                ...           ...  ...           ...    ...       ...
19216  서울특별시 동대문구 청량리동    1123070500   승용       휘발유(유연)      1  0.000005
19217  서울특별시 동대문구 청량리동    1123070500   승합          기타연료      1  0.000005
19218   서울특별시 은평구 불광2동  1138053000.0   승용  하이브리드(경유+전기)      1  0.000005
19219   서울특별시 강남구 일원1동  1168073000.0   특수           휘발유      1  0.000005
19220    서울특별시 중구 신당2동    1114062000   승합           엘피지      1  0.000005

[19221 rows x 6 columns]

In [40]:
car_gun.to_excel('c:/users/taihoon/desktop/three/자료/car_total.xlsx',index=False)