In [1]:
import pandas as pd



file_path = './result.csv'

csv = pd.read_csv(file_path,sep=',')
csv =  csv[csv.columns[1:]]
csv

E:\taihoon\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

             기준일ID  시간대구분     행정동코드      총생활인구수
0         20180101      0  11110515  14471.4116
1         20180101      0  11110530  23059.7992
2         20180101      0  11110540   4928.6410
3         20180101      0  11110550  14060.9810
4         20180101      0  11110560  20322.3298
...            ...    ...       ...         ...
14734843  20211231     23  11470540  21687.6749
14734844  20211231     23  11740685  56597.5455
14734845  20211231     23  11500611  33165.7067
14734846  20211231     23  11215810  36194.0265
14734847  20211231     23  11560550  22589.9182

[14734848 rows x 4 columns]

In [2]:
file_path = './행정동코드_매핑정보_2018.xlsx'
xlsx = pd.read_excel(file_path,skiprows=[1],sheet_name='행정동코드',usecols='B:E')
xlsx

        행정동코드 시도명 시군구명  행정동명
0    11110530  서울  종로구   사직동
1    11110540  서울  종로구   삼청동
2    11110550  서울  종로구   부암동
3    11110560  서울  종로구   평창동
4    11110570  서울  종로구   무악동
..        ...  ..  ...   ...
423  11740690  서울  강동구  둔촌1동
424  11740700  서울  강동구  둔촌2동
425  11740570  서울  강동구  암사1동
426  11740610  서울  강동구  천호2동
427  11740685  서울  강동구    길동

[428 rows x 4 columns]

In [3]:
Dong_result = pd.merge(xlsx,csv,on='행정동코드',how='left')
Dong_result

             행정동코드 시도명 시군구명 행정동명     기준일ID  시간대구분      총생활인구수
0         11110530  서울  종로구  사직동  20180101      0  23059.7992
1         11110530  서울  종로구  사직동  20180101      1  19720.2983
2         11110530  서울  종로구  사직동  20180101      2  19067.8948
3         11110530  서울  종로구  사직동  20180101      3  18940.6749
4         11110530  서울  종로구  사직동  20180101      4  20194.4123
...            ...  ..  ...  ...       ...    ...         ...
14873851  11740685  서울  강동구   길동  20211231     19  56231.6317
14873852  11740685  서울  강동구   길동  20211231     20  56053.5380
14873853  11740685  서울  강동구   길동  20211231     21  56360.0973
14873854  11740685  서울  강동구   길동  20211231     22  56036.3282
14873855  11740685  서울  강동구   길동  20211231     23  56597.5455

[14873856 rows x 7 columns]

In [4]:
Dong_result.to_csv('Dong_result.csv', sep=',')