In [9]:
import os
import multiprocessing
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [8]:
df = pd.read_csv('C:/Users/bigdata/Downloads/TR182100150002.csv', sep='|')
df

,YM_ID,CRSRD_ID,TR_VOL,GO_VOL,LEFT_VOL,RIGHT_VOL,UTURN_VOL,BIKE_VOL,CAR_VOL,SUV_VOL,VAN_VOL,TRUCK_VOL,BUS_VOL,ETL_TYPE,ETL_DATE
0,202111,1830002000,1530459,1457067,26746,35022,11624,24351,838116,291945,107109,213181,55757,603,2021-12-01 00:31:14
1,202111,1830002300,389881,214855,97299,77727,0,10928,226197,67872,23486,49831,11567,603,2021-12-01 00:31:14
2,202111,1830002400,1692414,892012,368819,385254,46329,32393,1013235,305867,107798,177314,55807,603,2021-12-01 00:31:14
3,202111,1830004600,1573474,969496,319425,239445,45108,49573,923785,279264,91331,152875,76646,603,2021-12-01 00:31:14
4,202111,1830005200,2913180,1416468,759985,530395,206332,84331,1846650,447647,166144,273351,95057,603,2021-12-01 00:31:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,202111,1870003600,1365459,606006,320530,385043,53880,50768,758914,233927,78310,186986,56554,603,2021-12-01 00:31:14
82,202111,1870003900,1418665,699995,349251,328929,40490,27489,733439,280464,72670,247107,57496,603,2021-12-01 00:31:14
83,202111,1870005700,1538195,981501,243435,254023,59236,26368,849799,257547,98169,267013,39299,603,2021-12-01 00:31:14
84,202111,1870016600,1154727,807679,163361,165671,18016,13225,606193,224236,66167,211000,33906,603,2021-12-01 00:31:14
85,202111,1870020200,1564645,819119,383382,342311,19833,15512,906192,277716,102157,225079,37989,603,2021-12-01 00:31:14

In [25]:
df = pd.DataFrame()

for i0 in range(2018, 2022):
    for i1 in range(1, 13):
        year = str(i0) + '{:0>2}'.format(str(i1))
        path = 'C:/Users/bigdata/Downloads/LOCAL_PEOPLE_DONG_{0}/LOCAL_PEOPLE_DONG_{0}.csv'.format(year)
#         pd.concat(df, pd.read_csv(path, sep=',', ))
temp = pd.read_csv(path, sep=',',names=['기준일ID', '시간대구분', '행정동코드', '총생활인구수'])
temp

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
20211201,0,11260630,20187.7305,772.5255,367.0029,356.4986,505.7888,794.0356,698.4104,874.6875,...,785.6802,885.2464,661.5399,774.7764,823.5129,917.4748,796.3051,706.6102,1385.8293,NaN
20211201,0,11530740,32071.2422,1239.9129,566.1704,780.9319,740.2142,1046.2378,1085.8823,1401.6683,...,1274.7953,1223.0601,1081.1128,1278.8342,1411.5230,1415.4105,1280.3025,965.0609,2518.9495,NaN
20211201,0,11380560,30217.5693,1077.6700,631.8348,894.2192,790.0118,870.7458,794.6855,1098.9053,...,1051.2382,1234.9909,1064.7638,1395.5641,1233.6247,1445.3104,1108.6644,914.6637,2590.5170,NaN
20211201,0,11200560,16120.8393,359.7251,206.7574,355.8605,642.2905,756.8398,676.7586,846.1882,...,734.2576,850.6689,708.2491,679.2909,496.4132,648.7046,516.6264,357.8356,824.8139,NaN
20211201,0,11215810,37286.6025,1781.6765,1506.1813,1740.1873,924.8098,848.2536,707.1907,1020.1713,...,821.4771,1526.2988,2054.9852,2176.2063,1579.4399,1320.8634,937.4298,695.0840,1562.6486,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20211231,23,11470540,21687.6749,861.7272,727.1708,1005.5965,681.5753,729.5826,598.0799,704.6723,...,655.7412,700.6698,843.2792,1226.9588,981.3435,924.6850,617.5297,475.8060,1213.4361,NaN
20211231,23,11740685,56597.5455,1839.0829,889.3184,1335.2357,1477.6366,1976.8694,2141.6605,2444.8754,...,2085.6888,2268.4922,1980.8497,2519.0302,2252.5037,2613.0954,2397.8625,1769.1395,3969.7268,NaN
20211231,23,11500611,33165.7067,1978.0254,1060.2853,1113.7417,915.0305,928.4453,826.6652,1113.9627,...,865.8292,1372.5672,1538.8561,1596.6038,1211.5687,1151.6991,992.2469,745.9197,2002.0061,NaN
20211231,23,11215810,36194.0265,1573.0999,1329.8560,1601.7697,961.0242,864.6878,805.5853,959.4892,...,916.1508,1601.0251,1854.1259,2049.0453,1483.5373,1326.8725,905.1418,630.0094,1436.7711,NaN
20211231,23,11560550,22589.9182,807.3828,280.0176,358.6660,626.8327,986.6300,1275.7233,1214.3993,...,1226.6123,1117.9995,861.5416,847.6130,785.8174,947.0463,741.3184,587.2430,1197.3963,NaN