In [21]:
import pandas as pd



file_path = './result.csv'

csv = pd.read_csv(file_path,sep=',')
csv =  csv[csv.columns[1:]]
csv

E:\taihoon\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

             기준일ID  시간대구분     행정동코드      총생활인구수
0         20180101      0  11110515  14471.4116
1         20180101      0  11110530  23059.7992
2         20180101      0  11110540   4928.6410
3         20180101      0  11110550  14060.9810
4         20180101      0  11110560  20322.3298
...            ...    ...       ...         ...
14734843  20211231     23  11470540  21687.6749
14734844  20211231     23  11740685  56597.5455
14734845  20211231     23  11500611  33165.7067
14734846  20211231     23  11215810  36194.0265
14734847  20211231     23  11560550  22589.9182

[14734848 rows x 4 columns]